{% extends "layout.html" %}
{% block content %}
<br><div class = "usr_pass"><br>
<form method="POST" action="{{ url_for('login') }}">
    Username:<br> <input type="text" name="username" required/><br>
    Password:<br> <input type="password" name="password" required/><br>
    <input class = "submit" type="submit" value="Submit">
</form>
</div><br>
<h3 class = "register">Not got an account?</h3>
<h4 class = "register_link"><a href="{{ url_for('register') }}">Register Here!</a></h4>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock content %}